@keyframes growing {
  0% {
    font-size: 1px;
  }
  100% {
    font-size: 30px;
  }
}



@keyframes roll {
  0% {
    top: -100px;
    left: 150px;
  }
  50% {
    top: 275px;
    left: 150px;
  }
  100% {
    top: 275px;
    left: calc(50% - 100px);
  }
}

@keyframes rotationX {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.scale{
  animation-name: growing, rotationX;
  animation-duration: 7s, 5s;
  animation-delay: 40s, 52s;
  animation-fill-mode: forwards;
}

.sweetRoll{
  animation-name: roll, rotationX;
  animation-duration: 5s, 5s;
  animation-delay: 47s, 52s;
  animation-fill-mode: forwards;
}
