@keyframes firstLine1 {
  0% {
    top: -150px;
    left: 0;
  }
  10% {
    top: 0;
    left: 0;
  }
  90% {
    top: 0;
    left: 0;
  }
  100% {
    top: 0;
    left: -100%;
  }
}

@keyframes firstLine2 {
  0% {
    top: -150px;
    left: 0;
  }
  10% {
    top: 150px;
    left: 0;
  }
  90% {
    top: 150px;
    left: 0;
  }
  100% {
    top: 150px;
    left: 100%;
  }
}

@keyframes firstLine3 {
  0% {
    top: -150px;
    left: 0;
  }
  10% {
    top: 300px;
    left: 0;
  }
  90% {
    top: 300px;
    left: 0;
  }
  100% {
    top: 300px;
    left: -100%;
  }
}

@keyframes firstLine4 {
  0% {
    top: -150px;
    left: 0;
  }
  10% {
    top: 450px;
    left: 0;
  }
  90% {
    top: 450px;
    left: 0;
  }
  100% {
    top: 450px;
    left: 100%;
  }
}


div.line1{
  animation-name: firstLine1;
  animation-duration: 30s;
  animation-fill-mode: forwards;
}

div.line2{
  animation-name: firstLine2;
  animation-duration: 30s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

div.line3{
  animation-name: firstLine3;
  animation-duration: 30s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

div.line4{
  animation-name: firstLine4;
  animation-duration: 30s;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}
