@keyframes firstLine1 {
  0% {
    top: -150px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes firstLine2 {
  0% {
    top: -150px;
    left: 0;
  }
  100% {
    top: 150px;
    left: 0;
  }
}

@keyframes firstLine3 {
  0% {
    top: -150px;
    left: 0;
  }
  100% {
    top: 300px;
    left: 0;
  }
}

@keyframes firstLine4 {
  0% {
    top: -150px;
    left: 0;
  }
  100% {
    top: 450px;
    left: 0;
  }
}

// fourth animation

// @keyframes fourthLine1 {
//   0% {
//     transform: translateX(0);
//
//   }
//   100% {
//     transform: translateX(250px);
//   }
// }

// @keyframes fourthLine2 {
//   0% {
//     top: 150px;
//     left: 0;
//   }
//   100% {
//     top: 150px;
//     left: 0;
//   }
// }
//
// @keyframes fourthLine3 {
//   0% {
//     top: 300px;
//     left: 0;
//   }
//   100% {
//     top: 300px;
//     left: 0;
//   }
// }
//
// @keyframes fourthLine4 {
//   0% {
//     top: 450px;
//     left: 0;
//   }
//   100% {
//     top: 450px;
//     left: 0;
//   }
// }

//
div.line1{
  animation-name: firstLine1;
  animation-duration: 2s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

div.line2{
  animation-name: firstLine2;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

div.line3{
  animation-name: firstLine3;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

div.line4{
  animation-name: firstLine4;
  animation-duration: 5s;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}
