@keyframes growing {
  0% {
    font-size: 1px;
  }
  100% {
    font-size: 30px;
  }
}



@keyframes roll {
  0% {
    top: -100px;
    left: 150px;
  }
  50% {
    top: 275px;
    left: 150px;
  }
  100% {
    top: 275px;
    left: calc(50% - 100px);
  }
}

@keyframes rotationX {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes textColor {
  0% {
    color: rgba(0,0,0,1);
  }
  100% {
    color: rgba(0,0,0,0);
  }
}

@keyframes textWidth {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes borderColor {
  0% {
    border: 1px solid rgba(0,0,0,1);
  }
  100% {
    border: 1px solid rgba(0,0,0,0);
  }
}

.scale{
  animation-name: growing, rotationX, textColor, textWidth;
  animation-duration: 7s, 5s, 5s, 5s;
  animation-delay: 40s, 52s, 57s, 57s;
  animation-fill-mode: forwards;
}

.sweetRoll{
  animation-name: roll, rotationX, textColor, borderColor, textWidth;
  animation-duration: 5s, 5s, 5s, 5s, 5s;
  animation-delay: 47s, 52s, 57s, 57s, 57s;
  animation-fill-mode: forwards;
}
