@keyframes secondText {
  0% {
    padding-left: 200px;
  }
  100% {
    padding-left: 100px;
  }
}

@keyframes secondSign {
  0% {
    margin-left: 20px;
  }
  100% {
    margin-left: 150px;
  }
}

div.line1{
  .name{
    animation-name: secondText;
    animation-duration: 2s;
    animation-delay: 14s;
    animation-fill-mode: forwards;
  }
  .sign{
    animation-name: secondSign;
    animation-duration: 2s;
    animation-delay: 14s;
    animation-fill-mode: forwards;
  }
}


div.line2{
  .name{
    animation-name: secondText;
    animation-duration: 2s;
    animation-delay: 16s;
    animation-fill-mode: forwards;
  }
  .sign{
    animation-name: secondSign;
    animation-duration: 2s;
    animation-delay: 16s;
    animation-fill-mode: forwards;
  }
}

div.line3{
  .name{
    animation-name: secondText;
    animation-duration: 2s;
    animation-delay: 18s;
    animation-fill-mode: forwards;
  }
  .sign{
    animation-name: secondSign;
    animation-duration: 2s;
    animation-delay: 18s;
    animation-fill-mode: forwards;
  }
}

div.line4{
  .name{
    animation-name: secondText;
    animation-duration: 2s;
    animation-delay: 20s;
    animation-fill-mode: forwards;
  }
  .sign{
    animation-name: secondSign;
    animation-duration: 2s;
    animation-delay: 20s;
    animation-fill-mode: forwards;
  }
}
